<mat-card class="event-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="event-name">John And Lily's Wedding</mat-card-title>
        <mat-card-subtitle class="organizer">Organizer1</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="card-footer">
        <div class="bottom-row">
          <div class="tags-rating">
            <div class="tags">
              <span class="tag">EVENT</span>
              <span class="tag">WEDDING</span>
            </div>
            <div class="rating">
              <span class="rating-value">4.5★</span>
            </div>
          </div>
          <div class="see-more">
            <button mat-stroked-button>SEE MORE
  