<div class="outer-container">
    <div>
      <h1 class="form-header">Product Filter</h1>
      <p class="subtext">Search by an optional number of parameters</p>
    </div>
  <mat-dialog-content>
    <form [formGroup]="filterForm">
        <!-- Product Category -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Product Category</mat-label>
        <mat-select matInput formControlName="categoryId">
          <mat-option matInput *ngFor="let category of categories | async" [value]="category.id">
              {{ category.name }}
            </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Location -->
      <mat-form-field *ngIf="!isOfferingManagement" appearance="outline" class="form-field">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" placeholder="City">
      </mat-form-field>
  
      <!-- Price Range -->
      <mat-label class="rating-label">Price Range (€)</mat-label>
      <div class="rating-section">
        <p>
          {{ filterForm.get('priceRange.startPrice')?.value || 0 }} -  {{ filterForm.get('priceRange.endPrice')?.value || maxPrice }}€
        </p>
        <mat-slider min="0" [max]="maxPrice" step="100" discrete [displayWith]="formatLabel" [formGroup]="priceRangeGroup">
          <input matSliderStartThumb formControlName="startPrice" aria-label="Minimum Price" />
          <input matSliderEndThumb formControlName="endPrice" aria-label="Maximum Price" />
        </mat-slider>
      </div>

      <!-- Minimum Discount -->
      <mat-label class="rating-label">Minimum Discount</mat-label>
      <div class="rating-section">
        <p>{{ filterForm.get('minDiscount')?.value }}%</p>
        <mat-slider min="0" max="90" step="10" discrete [displayWith]="formatLabel">
          <input formControlName="minDiscount" matSliderThumb>
        </mat-slider>
      </div>
  
      <!-- Minimum Rating -->
      <mat-label class="rating-label">Minimum Rating</mat-label>
      <div class="rating-section">
        <p>{{ filterForm.get('minRating')?.value }}★</p>
        <mat-slider min="1.0" max="5.0" step="0.5" showTickMarks discrete [displayWith]="formatLabel">
          <input formControlName="minRating" matSliderThumb>
        </mat-slider>
      </div>
      <mat-slide-toggle formControlName="checkAviailability">
        Show Only Available Products
      </mat-slide-toggle>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
  </mat-dialog-actions>
  </div>
  