<button mat-menu-item [routerLink]="['event-types']">
  <mat-icon>event</mat-icon>
  <span>Event Type Management</span>
</button>
<button mat-menu-item [routerLink]="['offering-categories']">
  <mat-icon>category</mat-icon>
  <span>Category Management</span>
</button>
<button mat-menu-item [routerLink]="['report-management']">
  <mat-icon>report</mat-icon>
  <span>Report Management</span>
<button mat-menu-item [routerLink]="['comment-approval']">
  <mat-icon>reply</mat-icon>
  <span>Comment Management</span>
</button>
<button mat-menu-item [routerLink]="['chat']">
  <mat-icon>chat</mat-icon>
  <span>Chat</span>
</button>
