mat-toolbar {
  background-color: #d0cfe1;
  position: sticky;
  z-index: 1;
}

mat-icon{
  color: #252629;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color:#3a2d30;
}

.navigation-container{
  display: flex;
  justify-content: right;
  width: 100%;
}
.navigation-item{
  margin: 10px;
  font-size: larger;
}

button {
    margin-right: 10px;
}

span {
  font-family: 'Fira Sans Condensed', serif
}
