mat-toolbar {
  background-color: #d0cfe1;
  position: sticky;
  z-index: 1;
}

mat-icon {
  color: #3a2d30;
}

.navigation-container {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
}

.navigation-item {
  font-size: larger;
}

span {
  font-family: 'Fira Sans Condensed', serif;
}