mat-toolbar {
  background-color: #5FA3A2;
  position: sticky;
  z-index: 1;
}

mat-icon{
  color: white;
}

.navigation-container{
  display: flex;
  justify-content: right;
  width: 100%;
}
.navigation-item{
  margin: 10px;
  font-size: larger;
}

button {
    margin-right: 10px;
}

span {
  font-family: "Calisto MT", Calisto, "Times New Roman", serif;
  color: white
}
