<div class="offering-container">
  <form [formGroup]="createForm" class="elegant-form">
    <div class="form-header">
      <h1>Create Service</h1>
    </div>
    <div class="form-section category-section">
      <mat-checkbox formControlName="createCategory" color="primary">Create new category</mat-checkbox>
      <mat-form-field appearance="outline" *ngIf="creatingCategory()">
        <mat-label>Category Name</mat-label>
        <input matInput formControlName="categoryName">
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="creatingCategory()">
        <mat-label>Category Description</mat-label>
        <textarea matInput formControlName="categoryDescription" rows="4"></textarea>
      </mat-form-field>
      <div class="category-selector" *ngIf="!creatingCategory()">
        <mat-form-field appearance="outline" class="category-dropdown">
          <mat-label>Service Category</mat-label>
          <mat-select formControlName="serviceCategory" class="category-select">
            <mat-option *ngFor="let category of allCategories" [value]="category">
              {{category?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-section details-grid">
      <mat-form-field appearance="outline">
        <mat-label>Service Name</mat-label>
        <input matInput formControlName="name" placeholder="Memorable & Catchy Name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4" placeholder="Tell your story in a compelling way"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Specification</mat-label>
        <input matInput formControlName="specification" placeholder="Unique Service Details">
      </mat-form-field>

      <div class="price-section">
        <mat-form-field style="padding-right: 10px;" appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" placeholder="0.00">
            <span matSuffix class="currency-suffix">$</span>
          </mat-form-field>

        <mat-form-field style="padding-left: 10px;" appearance="outline">
          <mat-label>Discount</mat-label>
          <input matInput type="number" formControlName="discount" placeholder="0">
          <span matSuffix class="currency-suffix">%</span>
        </mat-form-field>
      </div>
    </div>

    <div class="form-section photo-upload">
      <div class="upload-container">
        <input type="file" #fileInput multiple (change)="onPhotoUpload()" accept="image/*" class="file-input">
        <div class="upload-area" (click)="fileInput.click()">
          <mat-icon class="upload-icon">cloud_upload</mat-icon>
          <p>Drag & Drop or Click to Upload Photos</p>
          <small>Maximum 5 images, PNG or JPEG</small>
        </div>
      </div>
    </div>      

    <div class="form-section time-selection">
      <h3 class="small-subtitle">Service Duration</h3>
      <mat-radio-group formControlName="timeType" class="duration-radio">
        <mat-radio-button value="fixed">Fixed Duration</mat-radio-button>
        <mat-radio-button value="flexible">Flexible Time</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="createForm.get('timeType')?.value === 'fixed'" class="fixed-duration">
        <mat-form-field appearance="outline">
          <mat-label>Duration (hours)</mat-label>
          <input matInput type="number" formControlName="fixedTime" min="1" placeholder="Enter hours">
        </mat-form-field>
      </div>

      <div *ngIf="createForm.get('timeType')?.value === 'flexible'" class="price-section">
        <mat-form-field style="padding-right: 20px;" appearance="outline">
          <mat-label>Minimum Hours</mat-label>
          <input matInput type="number" formControlName="minTime">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label style="padding-left: 20px;" >Maximum Hours</mat-label>
          <input matInput type="number" formControlName="maxTime">
        </mat-form-field>
      </div>
    </div>

    <div class="form-section deadlines">
      <h3 class="small-subtitle">Deadlines</h3>
      <div class="price-section">
        <mat-form-field style="padding-right: 10px;" appearance="outline">
          <mat-label>Reservation deadline</mat-label>
          <input matInput type="number" formControlName="reservationDeadline" placeholder="0.00">
        </mat-form-field>

      <mat-form-field style="padding-left: 10px;" appearance="outline">
        <mat-label>Cancellation deadline</mat-label>
        <input matInput type="number" formControlName="cancellationDeadline" placeholder="0">
      </mat-form-field>
      </div>
    </div>

    <div class="form-section toggles">
      <h3 class="small-subtitle">Service Availability</h3>
      <div class="toggle-container">
        <mat-slide-toggle formControlName="isAvailable" color="primary">Service Available</mat-slide-toggle>
        <mat-slide-toggle formControlName="isVisible" color="accent">Service Visible</mat-slide-toggle>
      </div>
    </div>

    <div class="form-section submit-section">
      <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="!createForm.valid">
        Create Service
      </button>
    </div>
  </form>
</div>
