<div class="category-container">
  <mat-card>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        
        <!-- Approve Column -->
        <ng-container matColumnDef="approve">
          <mat-header-cell *matHeaderCellDef> Approve </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button 
              *ngIf="element.pending" 
              mat-icon-button 
              color="primary" 
              (click)="approveCategory(element)"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editCategory(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteCategory(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        
        <!-- Change Category Column -->
        <ng-container matColumnDef="changeCategory">
          <mat-header-cell *matHeaderCellDef> Change Category </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button 
              mat-icon-button 
              color="accent" 
              (click)="openChangeCategoryDialog(element)"
              [disabled]="!element.pending || !offeringsByCategory[element.id]?.length"
            >
              <mat-icon>swap_horiz</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Offerings Column -->
        <ng-container matColumnDef="offerings">
          <mat-header-cell *matHeaderCellDef> Offerings </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div *ngIf="offeringsByCategory[element.id]?.length > 0; else noOfferings">
              <ul>
                <li *ngFor="let offering of offeringsByCategory[element.id]">
                  {{offering.name}}
                </li>
              </ul>
            </div>
            <ng-template #noOfferings>
              <span>No offerings</span>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      
      <div class="button-container">
        <button mat-raised-button class="manage-proposals-button" (click)="openAddCategoryDialog()">
          <mat-icon>add</mat-icon> Add New Category
        </button>
        
      </div>
    </mat-card-content>
  </mat-card>
</div>