<div class="category-container">
    <mat-card>
      <mat-card-content>

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <!-- Offerings Column -->
          <ng-container matColumnDef="offerings">
            <mat-header-cell *matHeaderCellDef> Offerings </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <!-- Add logic for offerings if applicable -->
              N/A 
            </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editCategory(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteCategory(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator 
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of category elements">
        </mat-paginator>
        <div class="button-container">
            <button mat-raised-button class="manage-proposals-button" (click)="openAddCategoryDialog()">
              <mat-icon>add</mat-icon> Add New Category
            </button>
            
            <button 
              mat-raised-button 
              class="manage-proposals-button"
              (click)="manageProposals()"
            >
              Manage Proposals
            </button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  