<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Recommended Categories Column -->
        <ng-container matColumnDef="recommendedCategories">
            <th mat-header-cell *matHeaderCellDef> Recommended Categories </th>
            <td mat-cell *matCellDef="let element">{{getCategoryNames(element)}}</td>
        </ng-container>

        Actions Column
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="openEditDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="!element.active" mat-icon-button class="activate-button" aria-label="Activate" (click)="activate(element.id)">
                    <mat-icon>check_circle</mat-icon>
                </button>

                <button *ngIf="element.active" mat-icon-button color="warn" aria-label="Deactivate" (click)="deactivate(element.id)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <button mat-raised-button class="add-button" (click)="openAddEventTypeDialog()">
    <mat-icon>add</mat-icon> Add New Event Type
  </button>
</div>
