<mat-card class="notification-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{notification.title}}</mat-card-title>
        <mat-card-subtitle>{{notification.date | date: 'dd.MM.yyyy. HH:mm'}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <div><p>{{notification.content}}</p></div>
        <button mat-button class="read-icon"><mat-icon>done</mat-icon></button>

  