<div class="top-events">
  <h2>Top Events In Your Area</h2>
  <div class="no-events-message" *ngIf="noTopEventsMessage">
    <p>{{ noTopEventsMessage }}</p>
  </div>
  <div class="top-event-cards">
    <app-event-card *ngFor="let event of topEvents" [event]="event"></app-event-card>
  </div>
</div>

<div class="all-events">
  <div class="event-bg">
    <div class="event-filter">
      <h2>All Events In Your Area</h2>
      <div class="event-filter-components">
        <div class="name-search-section">
          <mat-form-field class="search-field">
            <mat-label>Event Name</mat-label>
            <input matInput [(ngModel)]="searchEventQuery">
          </mat-form-field>
          <button mat-stroked-button class="search-button" (click)="searchEvent()"><mat-icon>search</mat-icon> Search</button>
        </div>
        <div class="sort-filter">
          <div class="sort-section">
            <mat-form-field appearance="outline">
              <mat-label>Sorting Criteria</mat-label>
              <mat-select [(ngModel)]="selectedEventSortingCriteria">
                <mat-option *ngFor="let criteria of eventSortingCriteria" [value]="criteria">
                  {{ criteria }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Sorting Direction</mat-label>
              <mat-select [(ngModel)]="selectedSortingDirection">
                <mat-option *ngFor="let direction of sortingDirections" [value]="direction">
                  {{ direction }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-stroked-button (click)="applySorting('event')">Sort</button>
          </div>
          <div class="filter-section">
            <button mat-stroked-button (click)="openEventFilterDialog()"><mat-icon>filter_list</mat-icon> Filter</button>
            <button mat-stroked-button class="reset-button" (click)="resetEventFilter()">Reset Filters</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="all-events-section">
    <div class="no-events-message" *ngIf="noEventsMessage">
      <p>{{ noEventsMessage }}</p>
        <button mat-stroked-button (click)="seeAllEvents()">
           See All Events
        </button>
    </div>
    <div class="all-event-cards">
      <app-event-card *ngFor="let event of allEvents" [event]="event"></app-event-card>
    </div>
    <p class="total-elements">Total elements: {{ eventPageProperties.totalElements }}</p>
    <div class="pagination" *ngIf="!noEventsMessage">
      <button mat-stroked-button (click)="previousEventPage()" [disabled]="eventPageProperties.page === 0">
        &lt;
      </button>
      <p>
        Page {{ eventPageProperties.page + 1 }} of {{ eventPageProperties.totalPages }}
      </p>
      <button mat-stroked-button (click)="nextEventPage()" [disabled]="eventPageProperties.page === eventPageProperties.totalPages - 1">
        &gt;
      </button>
    </div>
  </div>  
</div>

<!-- OFFERING -->

<div class="top-events">
  <h2>Top Offerings In Your Area</h2>

   <div class="no-events-message" *ngIf="noTopOfferingsMessage">
      <p>{{ noTopOfferingsMessage }}</p>
    </div>
  <div class="top-event-cards">
    <app-offering-card *ngFor="let offering of topOfferings" [offering]="offering"></app-offering-card>
  </div>
</div>

<div class="all-events">
  <div class="offering-bg">
    <div class="event-filter">
      <h2>All Offerings In Your Area</h2>
      <mat-radio-group>
        <mat-radio-button value="1" (click)="toggleOfferingType('services')">Services</mat-radio-button>
        <mat-radio-button value="2" (click)="toggleOfferingType('products')">Products</mat-radio-button>
      </mat-radio-group>
      <div class="event-filter-components">
        <div class="name-search-section">
          <mat-form-field  class="search-field">
            <mat-label>Service/Product Name</mat-label>
            <input matInput [(ngModel)]="searchOfferingQuery">
          </mat-form-field>
          <button mat-stroked-button class="search-button" (click)="searchOffering()" [disabled]="!selectedOfferingType"><mat-icon>search</mat-icon> Search</button>
        </div>
        <div class="sort-filter">
          <div class="sort-section">
            <mat-form-field appearance="outline">
              <mat-label>Sorting Criteria</mat-label>
              <mat-select [(ngModel)]="selectedOfferingSortingCriteria">
                <mat-option *ngFor="let criteria of offeringSortingCriteria" [value]="criteria">
                  {{ criteria }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Sorting Direction</mat-label>
              <mat-select [(ngModel)]="selectedSortingDirection">
                <mat-option *ngFor="let direction of sortingDirections" [value]="direction">
                  {{ direction }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-stroked-button (click)="applySorting('offering')" [disabled]="!selectedOfferingType">Sort</button>
          </div>
          <div class="filter-section">
            <button mat-stroked-button (click)="openFilterDialog()"><mat-icon>filter_list</mat-icon> Filter</button>
            <button mat-stroked-button class="reset-button" (click)="resetOfferingFilter()" [disabled]="!selectedOfferingType">Reset Filters</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all-events-section">
    <div class="no-events-message" *ngIf="noOfferingsMessage">
      <p>{{ noOfferingsMessage }}</p>
      <button mat-stroked-button (click)="seeAllOfferings()">
           See All Offerings
        </button>
    </div>
    <div class="all-event-cards">
      <app-offering-card *ngFor="let offering of allOfferings" [offering]="offering"></app-offering-card>
    </div>
    <p class="total-elements">Total elements: {{ offeringPageProperties.totalElements }}</p>
    <div class="pagination" *ngIf="!noOfferingsMessage">
      <button mat-stroked-button (click)="previousOfferingPage()" [disabled]="offeringPageProperties.page === 0">
        &lt;
      </button>
      <p>
        Page {{ offeringPageProperties.page + 1 }} of {{ offeringPageProperties.totalPages }}
      </p>
      <button mat-stroked-button (click)="nextOfferingPage()" [disabled]="offeringPageProperties.page === offeringPageProperties.totalPages - 1">
        &gt;
      </button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <h1>Event Planner</h1>
      <p><mat-icon>phone_in_talk</mat-icon> +381 65 123 4567</p>
      <p><mat-icon>mail</mat-icon> eventplanner&#64;gmail.com</p>
      <p><mat-icon>location_on</mat-icon> 123 Maple Street<br>Springfield, USA 12345</p>
    </div>
    <div class="footer-social">
      <h1>Find us on:</h1>
      <div class="social-icons">
        <mat-icon>facebook</mat-icon>
        <img src="icons8-instagram.svg" alt="Instagram" class="custom-icon" />
        <img src="icons8-twitter.svg" alt="Twitter" class="custom-icon" />
        <img src="icons8-youtube.svg" alt="YouTube" class="custom-icon" />
      </div>
    </div>
  </div>
</footer>
