.home-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('../../../../public/backdrop.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  h2{
    font-size: 2rem;
    
  }
  
  button[mat-stroked-button] {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .top-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #F3E8EE;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    z-index: 1;
    box-shadow: 15px 0px 0px rgba(0, 0, 0, 0.2);
  }

  .top-event-cards {
    display: grid;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(480px,480px));
  }

  button[mat-stroked-button] .overlay {
    border-radius: 20px;
    border-color: #475B63 !important;
    color:#475B63 !important;
    padding: 10px 20px;
    border-width: 2px;
    font-size: 16px;
  }

  button[mat-stroked-button]{
    border-radius: 20px;
    background-color: #5FA3A2;
    border-color: #5FA3A2 !important;
    color: #ffffff !important;
    padding: 10px 20px;
    border-width: 2px;
    font-size: 16px;
  }
  
  button[mat-stroked-button]:hover {
    background-color: #5FA3A2;
    border-color: #5FA3A2 !important;
    color: #ffffff !important ;
  }

  .all-events {
    text-align: center;
  }
  
  .event-filter {
    padding:20px;
    background-color: #C9E5DE;
  }

  .name-search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-field {
    padding: 10px;
    height: fit-content;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #5FA3A2 !important;
    border-color: #5FA3A2 !important;
    color: #ffffff !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .search-button mat-icon {
    font-size: 20px;
  }

  .sort-filter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sort-section{
    margin-right:30px;
  }
  .filter-section{
    margin-left:30px;
  }
  
  .sort-section select {
    padding: 10px;
    margin-left: 10px;
    margin-right:10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  .reset-button{
    margin-left: 10px;
    background-color: #98C4B8 !important;
    border:none;
  }
  .all-events-section{
    padding-bottom: 20px;
    background-image: url('../../../../public/backdrop.jpg');
    background-attachment: fixed;
  }
  
  .all-event-cards {
    display: grid;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(480px,480px));
    gap: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #5FA3A2;
    color: #fff;
  }

  .footer {
    background-color: #589D9B;
    color: white;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-info h1, 
  .footer-social h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color:white;
  }
  
  .footer-info p, 
  .footer-social .social-icons {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .footer-info p mat-icon, 
  .footer-social .social-icons mat-icon {
    margin-right: 10px;
    font-size: 1.5em;
    color: white;
  }
  
  .footer-social .social-icons mat-icon {
    cursor: pointer;
    margin-right: 15px;
  }
  
  .footer-social .social-icons mat-icon:hover {
    color: #ccc;
  }
  .custom-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .custom-icon:hover {
    filter: brightness(85%);
  }

  .add-to-favorite {
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .add-to-favorite button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 64px;
    width: 48px;
  }
  
  