
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  h2{
    font-size: 2rem;
    
  }
  
  button[mat-stroked-button] {
    padding: 10px 20px;
    font-size: 16px;
  }

  .no-events-message{
    text-align: center;
    padding-top:10vh;
    padding-bottom:10vh;
    color: #4e4e4e;
  }
  .total-elements{
    text-align: center;
    padding-top: 10px;
    color: #4e4e4e;
  }
  
  .top-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    z-index: 1;

  }

  .top-event-cards {
    display: grid;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(450px,450px));
    
  }

  .event-bg button[mat-stroked-button]{
    border-radius: 20px;
    border-color: #b5b3c9 !important;
    background-color: #b5b3c9;
    color: #241212 !important;
    padding: 10px 20px;
    border-width: 3px;
    font-size: 16px;
  }
  .event-bg button[mat-stroked-button]:hover{
    background-color: #9c9ac9;
    border-color: #9c9ac9 !important;
    color: #ffffff !important ;
  }
  .mat-mdc-radio-button.mat-accent{
    --mdc-radio-selected-icon-color:#935bd4;
    --mat-radio-checked-ripple-color: #935bd4;
    --mdc-radio-selected-focus-icon-color: #935bd4;
    --mdc-radio-selected-hover-icon-color: #935bd4;
    --mdc-radio-selected-icon-color: #935bd4;
  }

  .offering-bg button[mat-stroked-button]{
    border-radius: 20px;
    border-color: #b5b3c9 !important;
    background-color: #b5b3c9;
    color: #241212 !important;
    padding: 10px 20px;
    border-width: 3px;
    font-size: 16px;
  }
  .offering-bg button[mat-stroked-button]:hover{
    background-color: #9c9ac9;
    border-color: #9c9ac9 !important;
    color: #ffffff !important ;
  }
  
  .event-filter {
    padding:20px;
    text-align: center;

  }

  .name-search-section {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .search-field {
    height: fit-content;
    width: 300px;
  }
  
  .search-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    margin-top:7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .search-button mat-icon {
    font-size: 20px;
  }

  .sort-filter{
    display: flex;
    justify-content: center;
  }

  .sort-section {
    margin-right: 30px;
    display: flex;
    gap: 20px;
  }

  .filter-section{
    margin-left:30px;
  }


  .reset-button{
    margin-left: 10px;
    background-color: #c8b7e4 !important;
    border:none;
  }


  .all-events-section{
    padding-bottom: 20px;
    background-color: #dddddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
  
  .all-event-cards {
    display: grid;
    width: 100%;
    padding-top:30px;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(450px,450px));

  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .pagination p{
    margin:0;
    color: gray;
    font-family: 'Roboto','serif';
  }
  
  .pagination button {
    padding: 10px 15px;
    color: #545283;
    border: 1px solid #ddd;
    background-color: #f2eef6;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #9c9ac9;
    color: #fff;
  }

  button[disabled] {
    background-color: #bcbcbc;
    color: #9e9e9e;
    box-shadow: none;
    opacity: 0.7;
  }

  .footer {
    background-color: #d0cfe1;
    color: #3A2D30;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-info h1, 
  .footer-social h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color:#3A2D30;
  }
  
  .footer-info p, 
  .footer-social .social-icons {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .footer-info p mat-icon, 
  .footer-social .social-icons mat-icon {
    margin-right: 10px;
    font-size: 1.5em;
    color: #3A2D30;
  }
  
  .footer-social .social-icons mat-icon {
    cursor: pointer;
  }
  
  .custom-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .custom-icon:hover {
    filter: brightness(85%);
  }

  .add-to-favorite {
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  .add-to-favorite button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 64px;
    width: 48px;
  }
  
  .event-bg{
    background-color: #d0cfe1;
  }

  .offering-bg{
    background-color: #d0cfe1;
  }