<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="main-container">
  <!-- Carousel Section -->
  <div class="carousel-section">
    <div class="carousel-container">
      <img src="map.png" class="map">
    </div>
  </div>

  <!-- Content Section -->
  <div class="content-section">
    <!-- Header Info -->
    <div class="header-info">
      <div class="header-title">
        <h1 class="title">{{ event.name }}</h1>
        <button mat-button><mat-icon>favorite_border</mat-icon></button>
      </div>
      <div class="meta-info">
        <span class="category"> {{ event.eventType.name }}</span>
      </div>
    </div>

    <div class="info-section">
      <h2>Description</h2>
      <p class="info-item">{{ event.description }}</p>
      <h2>Location</h2>
      <p class="info-item">{{ event.location.street }} {{ event.location.houseNumber}}, {{ event.location.city}}, {{ event.location.country }}</p>
      <h2>Date</h2>
      <p class="info-item">{{ event.date | date: 'dd.MM.yyyy.'}}</p>
    </div>

    <!-- Specifications for Services -->
    <div class="specifications-section">
      <h2>Agenda</h2>
      <div class="specs-grid" >
        <div class="spec-item"*ngFor="let agendaItem of event.agenda">
          <div>
            <span class="spec-label">Name: </span>
            <span class="spec-value">{{ agendaItem.name }}</span>
          </div>
          <div>
            <span class="spec-label">Description: </span>
            <span class="spec-value">{{ agendaItem.description }}</span>
          </div>
          <div>
            <span class="spec-label">Start: </span>
            <span class="spec-value">{{ agendaItem.startTime }}</span>
          </div>
          <div>
            <span class="spec-label">End: </span>
            <span class="spec-value">{{ agendaItem.endTime }}</span>
          </div>
          <div>
            <span class="spec-label">Location: </span>
            <span class="spec-value">{{ agendaItem.location }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Provider Section -->
    <div class="organizer-section">
      <div class="organizer-card">
        <div class="organizer-info">
          <img [src]="event.organizer.profilePhoto" alt="organizer" class="organizer-avatar">
          <div class="organizer-details">
            <h3>{{ event.organizer.firstName}} {{ event.organizer.lastName}}</h3>
            <p class="organizer-location">
              <i class="fas fa-location">📍</i>
              {{ event.organizer.location.city }}, {{ event.organizer.location.country }}
            </p>
            <div class="organizer-contact">
              <p class="contact-item">
                <i class="fas fa-email">📧</i>
                {{ event.organizer.email }}
              </p>
              <p class="contact-item">
                <i class="fas fa-phone"></i>
                {{ event.organizer.phoneNumber }}
              </p>
            </div>
          </div>
        </div>
    </div>
</div>
    <div class="comments-section">
      <h2>Customer Reviews</h2>

      <!-- Add Comment Form -->
      <div class="comment-form">
        <h3>Leave a Review</h3>
        <div class="rating-input">
          <span>Your Rating:</span>
          <div class="stars-input">
            <span
              *ngFor="let star of getStarArray(5); let i = index"
              (click)="setRating(i + 1)"
              [class.filled]="i < userRating"
              class="star-icon"
            >★</span>
          </div>
        </div>
        <input
          type="text"
          placeholder="Your Name"
          class="input-field"
        >
        <textarea
          placeholder="Your Review"
          class="input-field"
        ></textarea>
        <button
          class="submit-btn"
        >Submit Review</button>
      </div>
    </div>

    <button class="fab" >
      <i class="fas fa-file-pdf"></i>
    </button>
  </div>
</div>
