<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="main-container">
  <!-- Carousel Section -->
  <div class="carousel-section">
    <div class="carousel-container">
      <img src="map.png" class="map">
    </div>
  </div>

  <!-- Content Section -->
  <div class="content-section">
    <!-- Header Info -->
    <div class="header-info">
      <div class="header-title">
        <h1 class="title">Sarah and Jake’s wedding</h1>
        <button mat-button><mat-icon>favorite_border</mat-icon></button>
      </div>
      <div class="meta-info">
        <span class="category">Wedding</span>
      </div>
    </div>

    <div class="info-section">
      <h2>Description</h2>
      <p class="info-item">Celebrate the union of Sarah and Jake with an evening filled with love and laughter</p>
      <h2>Location</h2>
      <p class="info-item">Narodnog Fronta 1, Novi Sad, Serbia</p>
      <h2>Date</h2>
      <p class="info-item">15.6.2024.</p>
    </div>

    <!-- Specifications for Services -->
    <div class="specifications-section">
      <h2>Agenda</h2>
      <div class="specs-grid">
        <div class="spec-item">
          <div>
            <span class="spec-label">Name: </span>
            <span class="spec-value">Ceremony</span>
          </div>
          <div>
            <span class="spec-label">Description: </span>
            <span class="spec-value">The official wedding ceremony where the couple exchanges vows.</span>
          </div>
          <div>
            <span class="spec-label">Start: </span>
            <span class="spec-value">2:00 PM</span>
          </div>
          <div>
            <span class="spec-label">End: </span>
            <span class="spec-value">3:00 PM</span>
          </div>
          <div>
            <span class="spec-label">Location: </span>
            <span class="spec-value">Rose garden</span>
          </div>
        </div>
        <div class="spec-item">
          <div>
            <span class="spec-label">Name: </span>
            <span class="spec-value">Ceremony</span>
          </div>
          <div>
            <span class="spec-label">Description: </span>
            <span class="spec-value">The official wedding ceremony where the couple exchanges vows.</span>
          </div>
          <div>
            <span class="spec-label">Start: </span>
            <span class="spec-value">2:00 PM</span>
          </div>
          <div>
            <span class="spec-label">End: </span>
            <span class="spec-value">3:00 PM</span>
          </div>
          <div>
            <span class="spec-label">Location: </span>
            <span class="spec-value">Rose garden</span>
          </div>
        </div>
        <div class="spec-item">
          <div>
            <span class="spec-label">Name: </span>
            <span class="spec-value">Ceremony</span>
          </div>
          <div>
            <span class="spec-label">Description: </span>
            <span class="spec-value">The official wedding ceremony where the couple exchanges vows.</span>
          </div>
          <div>
            <span class="spec-label">Start: </span>
            <span class="spec-value">2:00 PM</span>
          </div>
          <div>
            <span class="spec-label">End: </span>
            <span class="spec-value">3:00 PM</span>
          </div>
          <div>
            <span class="spec-label">Location: </span>
            <span class="spec-value">Rose garden</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Provider Section -->
    <div class="organizer-section">
      <div class="organizer-card">
        <div class="organizer-info">
          <img src="image1.jpg" alt="organizer" class="organizer-avatar">
          <div class="organizer-details">
            <h3>Organizer name</h3>
            <p class="organizer-location">
              <i class="fas fa-location">📍</i>
              Novi Sad, Serbia
            </p>
            <div class="organizer-contact">
              <p class="contact-item">
                <i class="fas fa-email">📧</i>
                organizetemail.com
              </p>
              <p class="contact-item">
                <i class="fas fa-phone"></i>
                123465798
              </p>
            </div>
          </div>
        </div>
    </div>

      <button class="fab" >
        <i class="fas fa-file-pdf"></i>
      </button>
</div>
  </div>
</div>
