<div class="fab-container">
  <a [routerLink]="['/create-offering']">
    <button class="fab offering-fab" mat-fab>
      <mat-icon>add</mat-icon><mat-icon>handshake</mat-icon>
    </button>
  </a>

  <a [routerLink]="['/create-product']">
    <button style="margin-bottom:70px;" class="fab product-fab" mat-fab>
      <mat-icon>add</mat-icon> <mat-icon>shopping_bag</mat-icon>
    </button>
  </a>
</div>


<div class="all-events">
  <div class="offering-bg">
    <div class="event-filter">
      <h2>All Offerings In Your Area</h2>
      <mat-radio-group>
        <mat-radio-button value="1" (click)="toggleOfferingType('services')">Services</mat-radio-button>
        <mat-radio-button value="2" (click)="toggleOfferingType('products')">Products</mat-radio-button>
      </mat-radio-group>
      <div class="event-filter-components">
        <div class="name-search-section">
          <mat-form-field  class="search-field">
            <mat-label>Service/Product Name</mat-label>
            <input matInput [(ngModel)]="searchOfferingQuery">
          </mat-form-field>
          <button mat-stroked-button class="search-button" (click)="searchOffering()"><mat-icon>search</mat-icon> Search</button>
        </div>
        <div class="sort-filter">
          <div class="sort-section">
            <mat-form-field appearance="outline">
              <mat-label>Sorting Criteria</mat-label>
              <mat-select [(ngModel)]="selectedOfferingSortingCriteria">
                <mat-option *ngFor="let criteria of offeringSortingCriteria" [value]="criteria">
                  {{ criteria }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Sorting Direction</mat-label>
              <mat-select [(ngModel)]="selectedSortingDirection">
                <mat-option *ngFor="let direction of sortingDirections" [value]="direction">
                  {{ direction }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-stroked-button (click)="applySorting('offering')">Sort</button>
          </div>
          <div class="filter-section">
            <button mat-stroked-button (click)="openFilterDialog()"><mat-icon>filter_list</mat-icon> Filter</button>
            <button mat-stroked-button class="reset-button">Reset Filters</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all-events-section">
    <div class="no-events-message" *ngIf="noOfferingsMessage">
      <p>{{ noOfferingsMessage }}</p>
    </div>
    <div class="all-event-cards">
      <app-offering-card *ngFor="let offering of filteredOfferings" [offering]="offering"></app-offering-card>

    </div>
    <div class="pagination" *ngIf="!noOfferingsMessage">
      <button mat-stroked-button (click)="previousOfferingPage()" [disabled]="offeringPageProperties.page === 0">
        &lt;
      </button>
      <p>
        Page {{ offeringPageProperties.page + 1 }} of {{ offeringPageProperties.totalPages }}
      </p>
      <button mat-stroked-button (click)="nextOfferingPage()" [disabled]="offeringPageProperties.page === offeringPageProperties.totalPages - 1">
        &gt;
      </button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <h1>Event Planner</h1>
      <p><mat-icon>phone_in_talk</mat-icon> +381 65 123 4567</p>
      <p><mat-icon>mail</mat-icon> eventplanner&#64;gmail.com</p>
      <p><mat-icon>location_on</mat-icon> 123 Maple Street<br>Springfield, USA 12345</p>
    </div>
    <div class="footer-social">
      <h1>Find us on:</h1>
      <div class="social-icons">
        <mat-icon>facebook</mat-icon>
        <img src="icons8-instagram.svg" alt="Instagram" class="custom-icon" />
        <img src="icons8-twitter.svg" alt="Twitter" class="custom-icon" />
        <img src="icons8-youtube.svg" alt="YouTube" class="custom-icon" />
      </div>
    </div>
  </div>
</footer>