<mat-card class="event-card" appearance="outlined"  [routerLink]="['/event',event.id]">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>{{event.organizer.firstName}} {{event.organizer.lastName}}</mat-card-subtitle>
        <p class="location-time">  {{ event.location.city }}, {{ event.location.country }} on {{ event.date | date: 'dd.MM.yyyy.' }}
        </p>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="card-footer">
        <div class="bottom-row">
          <div class="tags-rating">
            <div class="tags">
              <span class="tag">EVENT</span>
              <span class="tag" *ngIf="event.eventType!=null">{{event.eventType?.name}}</span>
            </div>
            <div class="rating">
              <span class="rating">{{event.averageRating}}★</span>
            </div>
          </div>
          <div class="add-to-favorite">
            <button mat-button><mat-icon>favorite_border</mat-icon></button>
          </div>
        </div>
      </div>
    </mat-card-content>
</mat-card>
