<mat-card class="offering-card" appearance="outlined">
    <mat-card-header class="header">
      <mat-card-title-group class ="title-group">
        <mat-card-title class="offering-name">Wedding Flowers</mat-card-title>
        <mat-card-subtitle class="provider">Provider1</mat-card-subtitle>
        <p class="price">90€</p>
      </mat-card-title-group>
      <picture><img src="flowers.jpg" alt=""></picture>
    </mat-card-header>
    <mat-card-content>
      <div class="card-footer">
        <div class="bottom-row">
          <div class="tags-rating">
            <div class="tags">
              <span class="tag">PRODUCT</span>
              <span class="tag">FLOWERS</span>
            </div>
            <div class="rating">
              <span class="rating-value">4.9★</span>
            </div>
          </div>
          <div class="see-more">
            <button mat-stroked-button>SEE MORE
  