<mat-form-field appearance="fill">
    <mat-label>Select Event</mat-label>
    <mat-select [(value)]="selectedEventId" (selectionChange)="onEventChange()">
      <mat-option *ngFor="let event of events" [value]="event.id">
        {{ event.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
<div class="table-wrapper">
    <table mat-table [dataSource]="budgetItems" class="mat-elevation-z2" style="width: 100%;">
  
      <!-- Category -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let item"> {{ item.category?.name }} </td>
      </ng-container>
  
        <!-- Amount -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let item">
            <input matInput type="number" [(ngModel)]="item.amount" (blur)="updateAmount(item)" style="width: 80px;">
            </td>
        </ng-container>
        
      <!-- Offerings -->
      <ng-container matColumnDef="offerings">
        <th mat-header-cell *matHeaderCellDef> Offerings </th>
        <td mat-cell *matCellDef="let item"> 
          <ul>
            <li *ngFor="let offering of item.offerings">{{ offering.name }}</li>
          </ul>
        </td>
      </ng-container>
  
      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary" (click)="edit(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="warn" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  
  <button mat-raised-button color="primary" (click)="openAddBudgetItemDialog()">
    Add Budget Item
  </button>
  