.event-card {
    margin: 10px;
    width: 450px;
    height: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .mat-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .card-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tags-rating {
    display: flex;
    gap: 10px;
  }
  
  .rating {
    font-size: 14px;
    text-align: left;
  }
  
  .tags {
    display: flex;
    gap: 10px;
  }
  
  .tag {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    font-weight: 400;
    border-width: 2px;
    border-color: #475B63;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .see-more {
    text-align: right;
  }
  
  button[mat-stroked-button] {
    font-size: 14px;
    padding: 5px 15px;
    color:#5FA3A2
  }
  
  .organizer {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    color: #475B63 !important;
    font-family: 'Fira Sans Condensed', serif !important;
  }
  
  .event-name {
    font-weight: 550;
    font-size: 25px;
  }

  button[mat-stroked-button] {
    border-radius: 20px;
    background-color: #5FA3A2;
    color: #ffffff !important ;
    font-weight: 400;
    font-size: 16px;
  }
  