<div class="outer-container">
  <div class="register-container">
    <form [formGroup]="editForm" class="elegant-form">
      <div class="form-header">
        <h1>Edit Company Details</h1>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput rows="4" placeholder="Enter description" formControlName="companyDescription" name="companyDescription"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="companyPhone" name="companyPhone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput formControlName="companyCountry" name="companyCountry">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="companyCity" name="companyCity">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput formControlName="companyStreet" name="companyStreet">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>House number</mat-label>
        <input matInput formControlName="companyHouseNumber" name="companyHouseNumber">
      </mat-form-field>
      <button mat-flat-button class="submit-btn"  (click)="submit()">
        Submit
      </button>
    </form>
  </div>
</div>
