/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #F3E8EE;
  color:#475B63;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1{
  color:#5FA3A2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
