<h2 mat-dialog-title class="dialog-title">
  Change password
</h2>

<mat-dialog-content>
  <form [formGroup]="passwordForm">
    <div class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Old password</mat-label>
        <input type="password" matInput formControlName="oldPassword" required>
        <mat-error *ngIf="passwordForm.controls['oldPassword'].errors!=null && passwordForm.controls['oldPassword'].errors['incorrect-old-password']">
          {{ errorMessage }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="newPassword" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password again</mat-label>
        <input type="password" matInput formControlName="confirmPassword" required>
        <mat-error *ngIf="passwordForm.errors!=null && passwordForm.errors['mismatch']">
          Passwords don't match
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()">
    Save
  </button>
  <button
    mat-raised-button
    color="warn"
    (click)="onCancel()">
    Cancel
  </button>
</mat-dialog-actions>
