<div class="dialog-container">
  <h1>Book a Service</h1>
  <form [formGroup]="reservationForm" (ngSubmit)="onBook()">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Booking Service</mat-label>
        <input matInput disabled value="Wedding Band">
      </mat-form-field>
    </div>
    <div class="content">
      <mat-card class="calendar-container">
        <mat-calendar 
        [(selected)]="reservationForm.controls['selectedDate'].value" 
        (selectedChange)="onDateChange($event)">
      </mat-calendar>
            </mat-card>
      <div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Event</mat-label>
            <mat-select formControlName="eventType">
              <mat-option value="wedding">Wedding</mat-option>
              <mat-option value="party">Party</mat-option>
              <mat-option value="corporate">Corporate Event</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group time-fields">
          <mat-form-field appearance="fill" class="time-field">
            <mat-label>Start Time</mat-label>
            <input matInput type="time" formControlName="startTime">
          </mat-form-field>
          <mat-form-field appearance="fill" class="time-field">
            <mat-label>End Time</mat-label>
            <input matInput type="time" formControlName="endTime">
          </mat-form-field>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" [disabled]="!reservationForm.valid" (click)="onBook()">Book</button>
          <button mat-raised-button color="warn" type="button" (click)="onClose()" class="closeBtn">Close</button>
        </div>        
      </div>
    </div>
  </form>
</div>
