<div class="dialog-container">
  <h1>Book a Service</h1>
  <form [formGroup]="reservationForm">
    <div class="content">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Booking Service</mat-label>
          <input matInput disabled value={{data.offering.name}}>
        </mat-form-field>
        <p class="offering-info">
          Reservation period: {{ data.offering.reservationPeriod }} hours before the event
        </p>
      </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Event</mat-label>
            <mat-select formControlName="event">
              <mat-option *ngFor="let event of events" [value]="event">
                {{ event.name }}
              </mat-option>
            </mat-select>         
          </mat-form-field>
          <p class="event-info" *ngIf="reservationForm.get('event')?.value">
            Selected event date: {{ reservationForm.get('event')?.value?.date }}
          </p>
        </div>
        <div>
        <div class="form-group time-fields">
          <mat-form-field appearance="fill" class="time-field">
            <mat-label>Start Time</mat-label>
            <input matInput type="time" formControlName="startTime">
          </mat-form-field>

          <!-- End Time Input (Disabled when minDuration == maxDuration) -->
          <mat-form-field appearance="fill" class="time-field" *ngIf="data.offering.minDuration == data.offering.maxDuration">
            <mat-label>End Time</mat-label>
            <input matInput type="time" [value]="calculatedEndTime" [disabled]="true">
          </mat-form-field>

          <!-- Else block for when minDuration != maxDuration -->
          <mat-form-field appearance="fill" class="time-field" *ngIf="data.offering.minDuration != data.offering.maxDuration">
            <mat-label>End Time</mat-label>
            <input matInput type="time" formControlName="endTime">
          </mat-form-field>

        </div>
          <p class="time-info" *ngIf="data.offering.minDuration == data.offering.maxDuration; else elseBlock">
            This service's fixed duration is {{ data.offering.minDuration }} hours.
          </p>
          
          <ng-template #elseBlock>
            <p class="time-info">
              This service's duration is between {{ data.offering.minDuration }} and {{ data.offering.maxDuration }} hours.
            </p>
          </ng-template>
          
        </div>
        <p *ngIf="errorMsg" class="error-msg">{{errorMsg}}</p>
        <div class="actions">
          <button mat-raised-button color="primary" [disabled]="!reservationForm.valid" (click)="onBook()">Book</button>
          <button mat-raised-button color="warn" type="button" (click)="onClose()" class="closeBtn">Close</button>
        </div>    
    </div>
  </form>
</div>
