img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}
form{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
}

form > *{
  margin:.3em;
}

mat-form-field{
  width: 70%;
}

h1{
  font-size: 26px;
  color: #3a2d30;
  margin-bottom: 10px;
}

.login-message{
  color: #3a2d30;
  font-size: 14px;
  opacity: 0.8;

}

::ng-deep .mat-form-field-outline {
  background: white;
}

::ng-deep .mat-form-field-label {
  color: #3a2d30 !important;
}

::ng-deep .mat-input-element {
  color: #3a2d30 !important;
}

.login-button {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #d0cfe1;
  color: #3a2d30;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #d0cfe1;
  opacity: 0.9;
}

p{
  color: #3a2d30;
}

a{
  color: #d0cfe1;
  text-decoration: none;
  font-weight: 500;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #3a2d30;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #d0cfe1;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #3a2d30;
  opacity: 0.8;
}
