<img src="login.jpg" alt="login-img">
<form [formGroup]="loginForm">
  <h1>Welcome Back</h1>
  <p class="login-message">Sign in to continue to your account</p>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>
  <button mat-stroked-button (click)="login()" class="login-button">Login</button>
  <p>Don't have account yet? <a [routerLink]="['/register']">Register now!</a></p>
</form>
