.chart-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.chart-stats {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  color: #666;
}

.no-data-message {
  text-align: center;
  padding: 40px;
  color: #666;
  font-size: 16px;
}

.outer-container {
  padding: 2em;
}

.fab{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #9c555d;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000;
}
