<mat-card class="offering-card" appearance="outlined" (click)="onOfferingClicked()">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{offering.name}}</mat-card-title>
      <mat-card-subtitle>{{offering.provider.company.name}}</mat-card-subtitle>
      <p class="price">{{offering.price}}€</p>
    </mat-card-title-group>
    <picture>
      <img mat-card-image [src]="offeringImage" [alt]="offering.name || 'Offering image'" />
    </picture>
  </mat-card-header>
  <mat-card-content>
    <div class="card-footer">
      <div class="bottom-row">
        <div class="tags-rating">
          <div class="tags">
            <span class="tag">{{ offering.isProduct ? 'PRODUCT' : 'SERVICE' }}</span>
            <span class="tag">{{offering.category.name}}</span>
          </div>
          <div class="rating">
            <span>{{offering.averageRating}}★</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
