.offering-card {
  margin: 10px;
  width: 430px;
  min-height: 180px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offering-card {
  width: 400px;
  height: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offering-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

mat-card-content {
  flex-grow: 1;
  overflow: hidden;
}

.card-footer {
  margin-top: auto;
}


mat-card-title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-card-title {
  font-weight: 550;
  font-size: 25px;
  margin: 0; 
}

mat-card-subtitle {
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  color: #475B63 !important;
  font-family: 'Fira Sans Condensed', serif !important;
  margin: 0; 
}

.price {
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.tags-rating {
  display: flex;
  gap: 10px;
  margin-bottom:0px;
}

.rating {
  font-size: 14px;
  text-align: left;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  padding: 0 10px;
  border-radius: 20px;
  font-weight: 400;
  border: 2px solid #475B63;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

button[mat-stroked-button] {
  border-radius: 20px;
  background-color: #5FA3A2;
  color: #ffffff !important;
  font-weight: 400;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

picture {
  display: flex;
  height: auto;
  object-fit: contain;
}

picture img {
  height: 100%;
  max-height: 100px;
  width: auto;
  object-fit: contain;
}
