<div class="outer-container">
  <div>
    <h1 class="form-header">Service Filter</h1>
    <p class="subtext">Search by an optional number of parameters</p>
  </div>
<mat-dialog-content>
  <form [formGroup]="filterForm">
    <!-- Service Category -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Service Category</mat-label>
      <mat-select matInput formControlName="category">
        <mat-option matInput *ngFor="let serviceCategory of serviceCategories" [value]="serviceCategory">
            {{ serviceCategory }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Event Type -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Event Type</mat-label>
      <mat-select matInput formControlName="type">
        <mat-option matInput *ngFor="let eventType of eventTypes" [value]="eventType">
            {{ eventType }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Price Range -->
    <mat-label class="rating-label">Price Range (€)</mat-label>
    <div class="rating-section">
      <p>
        {{ filterForm.get('priceRange.startPrice')?.value || 0 }} -  {{ filterForm.get('priceRange.endPrice')?.value || 1000 }}€
      </p>
      <mat-slider min="0" max="1000" step="10" discrete [displayWith]="formatLabel" [formGroup]="priceRangeGroup">
        <input matSliderStartThumb formControlName="startPrice" aria-label="Minimum Price" />
        <input matSliderEndThumb formControlName="endPrice" aria-label="Maximum Price" />
      </mat-slider>
    </div>

    <mat-slide-toggle formControlName="checkAviailability">
      Show Only Available Services
    </mat-slide-toggle>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
</mat-dialog-actions>
</div>
