<button mat-menu-item [routerLink]="['manage-offerings']" >
  <mat-icon>shopping_cart</mat-icon>
  <span>Offering Management</span>
</button>
<button mat-menu-item [routerLink]="['create-product']">
  <mat-icon>add</mat-icon>
  <span>Create product</span>
</button>
<button mat-menu-item [routerLink]="['pricelist']">
  <mat-icon>money</mat-icon>
  <span>Pricelist</span>
</button>
<button mat-menu-item [routerLink]="['notification-panel']">
  <mat-icon>notifications</mat-icon>
  <span>Notification Management</span>
</button>
<button mat-menu-item [routerLink]="['chat']">
  <mat-icon>chat</mat-icon>
  <span>Chat</span>
</button>
