<div class="outer-container">
  <div>
    <h1 class="form-header">Service Filter</h1>
    <p class="subtext">Search by an optional number of parameters</p>
  </div>
<mat-dialog-content>
  <form [formGroup]="filterForm">
    <!-- Service Category -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Service Category</mat-label>
      <mat-select matInput formControlName="category">
        <mat-option matInput *ngFor="let serviceCategory of serviceCategories" [value]="serviceCategory">
            {{ serviceCategory }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Location -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" placeholder="City">
    </mat-form-field>

    <!-- Event Type -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Event Type</mat-label>
      <mat-select matInput formControlName="type">
        <mat-option matInput *ngFor="let eventType of eventTypes" [value]="eventType">
            {{ eventType }}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Price Range -->
    <mat-label class="rating-label">Price Range (€)</mat-label>
    <div class="rating-section">
      <p>
        {{ filterForm.get('priceRange.startPrice')?.value || 0 }} -  {{ filterForm.get('priceRange.endPrice')?.value || 1000 }}€
      </p>
      <mat-slider min="0" max="1000" step="10" discrete [displayWith]="formatLabel" [formGroup]="priceRangeGroup">
        <input matSliderStartThumb formControlName="startPrice" aria-label="Minimum Price" />
        <input matSliderEndThumb formControlName="endPrice" aria-label="Maximum Price" />
      </mat-slider>
    </div>

    <!-- Minimum Discount -->
    <mat-label class="rating-label">Minimum Discount</mat-label>
    <div class="rating-section">
      <p>{{ filterForm.get('minDiscount')?.value }}%</p>
      <mat-slider min="0" max="90" step="10" discrete [displayWith]="formatLabel">
        <input formControlName="minDiscount" matSliderThumb>
      </mat-slider>
    </div>

    <!-- Minimum Rating -->
    <mat-label class="rating-label">Minimum Rating</mat-label>
    <div class="rating-section">
      <p>{{ filterForm.get('minRating')?.value }}★</p>
      <mat-slider min="1.0" max="5.0" step="0.5" showTickMarks discrete [displayWith]="formatLabel">
        <input formControlName="minRating" matSliderThumb>
      </mat-slider>
    </div>
    
    <!-- Duration -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Duration (in minutes)</mat-label>
      <input matInput type="number" formControlName="duration">
    </mat-form-field>

    <!-- Date Range -->
    <mat-form-field class="form-field">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dateRangeGroup" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      
      <ng-container *ngIf="dateRangeGroup">
        <mat-error *ngIf="dateRangeGroup.get('start')?.hasError('matStartDateInvalid')">
          Invalid start date
        </mat-error>
        <mat-error *ngIf="dateRangeGroup.get('end')?.hasError('matEndDateInvalid')">
          Invalid end date
        </mat-error>
      </ng-container>
    </mat-form-field>
    <mat-slide-toggle formControlName="checkAviailability">
      Show Only Available Services
    </mat-slide-toggle>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
</mat-dialog-actions>
</div>
